<div>
	<div>
		<button type="button" id="save" ng-click="$ctrl.onSave()" class="button_1_2">Anlegen</button>
		<button type="button" id="cancel" ng-click="$ctrl.onCancel()" class="button_1_2">Abbrechen</button>
		<br/>
	</div>
	<input id="EditVorname" placeholder="Vorname" ng-model="$ctrl.newEntry.Vorname"></input><br/>
	<input id="EditNachname" placeholder="Nachname" ng-model="$ctrl.newEntry.Nachname"></input><br/>
	<input id="EditEmail" placeholder="Email Addresse" ng-model="$ctrl.newEntry.Email"></input><br/>
	<input id="EditAddresse" placeholder="Addresse" ng-model="$ctrl.newEntry.Addresse"></input><br/>
	<input id="EditTel1" placeholder="Telefonnummer" ng-model="$ctrl.newEntry.Tel1"></input><br/>
	<input id="EditTel2" placeholder="Telefonnummer" ng-model="$ctrl.newEntry.Tel2"></input><br/>
</div>