<div>
<button
	ng-if="!$ctrl.DoFilter" 
	ng-click="$ctrl.StartFilter()"
	type="button"
	class="button_1_1"
>Suchen</button>

<button
	ng-if="$ctrl.DoFilter" 
	ng-click="$ctrl.CloseFilter()"
	type="button"
	class="button_1_1"
>Suche löschen und schließen</button>

<input
	placeholder="Name, Straße oder Telefonnummer"
	ng-model="$ctrl.Filter"
	ng-if="$ctrl.DoFilter" 
></input>
</div>

<button
	ng-if="!$ctrl.NewEntry" 
	ng-click="$ctrl.StartNewEntry()"
	type="button"
	id="StartNewEntry"
	class="button_1_1"
	ng-class="{button_disabled: ($ctrl.EditedIndex != -1 || $ctrl.NewEntry)}"
>Neuen Eintrag anlegen</button>

<telefonbuch-eintrag-neu
	ng-if="$ctrl.NewEntry"
	on-save='$ctrl.SaveNewEntry()'
	on-cancel='$ctrl.CancelNewEntry()'
	new-entry='$ctrl.EditedEntry'
></telefonbuch-eintrag-neu>

<p ng-if="!$ctrl.Kontakte.length">Keine Einträge vorhanden</p>


<ul>
	<li ng-repeat="kontakt in $ctrl.Kontakte | orderBy:['Nachname', 'Vorname'] | filter:$ctrl.Filter">
		<telefonbuch-eintrag-anzeige 
			ng-if="kontakt.Index != $ctrl.EditedIndex"
			kontakt="kontakt" 
			edit-disabled="($ctrl.EditedIndex != -1 || $ctrl.NewEntry)"
			on-edit='$ctrl.StartEdit(kontakt.Index)'
		></telefonbuch-eintrag-anzeige>
		<telefonbuch-eintrag-edit 
			ng-if="kontakt.Index == $ctrl.EditedIndex"
			on-save='$ctrl.SaveEdit()'
			on-cancel='$ctrl.CancelEdit()'
			on-delete1='$ctrl.DeleteEntry1()'
			on-delete-no='$ctrl.DeleteEntry2(false)'
			on-delete-yes='$ctrl.DeleteEntry2(true)'
			confirm-delete='$ctrl.ConfirmDelete'
			edited-entry='$ctrl.EditedEntry'
		></telefonbuch-eintrag-edit>
	</li>
</ul>


<div>
<h2>NUR ZU TESTZWECKEN</h2>
<p>
	<button type="button" ng-click="$ctrl.InitStoreFill()">Alle Einträge durch Testeinträge ersetzen</button><br/>
	<button type="button" ng-click="$ctrl.InitStoreEmpty()">Alle Einträge löschen</button>
</p>
<input ng-model="$ctrl.StorageText"></input><br/>
</div>
