html {
	height: 100%;
}

body {
	color: #EEE;
	background-color: #334;
	text-align: center;
	font-size: 16px;
	height: 100%;
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	font-size: 110%;
	margin-top: 10px;
	min-height: 200px;
	padding: 5px;
	background-color: #6F6F7E;
}

input {
	margin: 20px;
	padding: 0px;
	border: 0;
	border-bottom: 2px solid #FFF;
	background: transparent;
	color: #FFF;
	width: 80%;
}

button {
	border: 1px solid #fff;
	color: #ddf;
	margin: 2px;
	padding: 10px;
	background: none;
}

.telefonbuch {
	min-height: 100%;
	background-color: #667;
	margin: 0 auto;
	width: 400px;
}

.button_1_1 {
	width: 99%
}
.button_1_3 {
	width: 30%
}

.button_1_2 {
	width: 45%;
}

.button_delete_no {/* Leichte Grünfärbung zur besseren Erfassung. */
	border-color: #afa;
}

.button_delete_yes { /* Leichte Rotfärbung zur besseren Erfassung. */
	border-color: #faa;
}

.button_disabled {
	color: #777;
	border: 0;
}

.button_header {
	color: #fff; /* Namen sollen immer in weiß geschrieben werden, auch wenn der Button deaktiviert ist. */
	font-size: 120%;
	margin-bottom: 10px;
}

.testdiv {
	background-color: #223;
	position: absolute;
	padding: 10px;
	bottom: 0;
	left: 0;
}
